:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --primary-white-color: #FFFFFF;
    --interactive-color: #2196F3;
}

body {
    color: var(--primary-text-color);
    background-color: #F5F5F5;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

.header {
    background-color: #FFFFFF;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-web {
    color: var(--interactive-color);
}

.logo-studio {
    color: #000000
}

.menu-nav {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.menu-nav:hover,
.menu-nav:focus {
    color: var(--interactive-color);
}

.menu-nav.current {
    color: var(--interactive-color);
}

.contacts {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts:hover,
.contacts:focus {
    color: var(--interactive-color);
}

.hero {
    background-color: #2F303A;
}

.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    letter-spacing: 0.06em;
    background-color: #188CE8;
}

.specialty-subtitle {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.specialty-text {
    font-size: 14px;
    line-height: 1.71;
}

.work-title {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team {
    background: #F5F4FA;
}

.team-title {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team-member {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-desc {
    font-size: 16px;
    line-height: 1.19;
}

.footer {
    background: #2F303A;
}

.footer-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.footer-logo-web {
    color: var(--interactive-color);
}

.footer-logo-studio {
    color: #FFFFFF;
}

.footer-adress {
    color: var(--primary-white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.footer-adress:hover,
.footer-adress:focus {
    color: var(--interactive-color);
}

.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--interactive-color);
}

/* Portfolio */

/* .contacts.current { */
/* color: var(--interactive-color); */
/* } */

.projects-button {
    color: var(--title-text-color);
    background: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
}

.projects-button:hover,
.projects-button:focus {
    color: var(--primary-white-color);
    background-color: var(--interactive-color);
}

.projects-button.current {
    color: var(--primary-white-color);
    background-color: var(--interactive-color);
}

.projects-link {
    text-decoration: none;
}

.projects-link:hover,
.projects-link:focus {
    color: var(--interactive-color);
}

.projects-link-title {
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    /* text-decoration: none; */
}

.projects-link-desc {
    font-size: 16px;
    line-height: 1.88;
    /* text-decoration: none; */
}